@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.marquee {
  overflow: hidden;
  --speed: 8s;
  --single-slide-speed: calc(var(--speed) / var(--numItems));
  --item-width: 40px;
  --item-gap: 40px;
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * calc(var(--numItems) - 1));
}

.marquee-track {
  container-type: inline-size;
  display: grid;
  grid-template-columns: var(--track-width) [track] 0px [resting];
  width: max-content;
}

.marquee-item {
  grid-area: resting;
  animation: marquee-move var(--speed) linear infinite
    var(--direction, forwards);
  animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1);

  width: var(--item-width);
  aspect-ratio: 1/1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
}

.marquee-item svg {
  height: auto;
  width: 60%;
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5rem,
    black calc(100% - 5rem),
    transparent
  );
}

.wrapper > div {
  margin: 24px 0;
}